{% extends 'base.html' %}
{% block title  %}
    Login
{% endblock title %}
{% block content %}
    {% include 'ticket\messages.html' %}
    <h1>Log-in</h1>
    <div class="row mt-2">
        <div class="col-6 mt-2">
            <form action="" method="post" class="update_form">
                <label for="username">Username</label>
                <input type="text" name="username" >
                <br>
                <br>
                <label for="password">Password</label>
                <input type="password" name="password" >
                <br>
                <br>
                
                {% csrf_token %}
                <button type="submit" class="btn btn-success mt-2">Login</button>
            </form>
            <br>
            <br>
            <p>
                Forgot password?<a href="{% url 'password_reset'%}"> Click Here</a>
            </p>
        
        </div>
    </div>
{% endblock content %}